/* 全局樣式 */
body {
     /*font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f4f4f9;
     color: #333;*/
	font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
     /*width: 80%;
     margin: 20px auto;
     padding: 20px;
     background: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 8px;*/
     
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, {
    text-align: center;
    color: #444;
}

.instrument-info, .calibration-results {
     margin-bottom: 20px;
 }
 
.instrument-info {
    display: flex;
    /*flex-wrap: wrap;*/
    max-width: 800px; /* 設定最大寬度 */
    margin: 0 auto; /* 左右置中 */
	font-size: 18px; /* 將文字大小設置為 16px */

}

.instrument-info-left {
	border: 1px solid #868687;
	float:left;
    width: 300px;
    margin: 10px 10px 20px 0px;  /* 上 右 下 左 */
}

.instrument-info-center {
	border: 1px solid #868687;
	float:left;
    width: 300px;
    margin: 10px 10px 20px 0px;  /* 上 右 下 左 */
    /*text-align: center; /* 將表頭置中 */
}

.instrument-info-right {
	border: 1px solid #868687;
	float:right;
    width: 300px;
    margin: 10px 10px 20px 0px;  /* 上 右 下 左 */
}

/*
.instrument-info p {
     flex: 1 1 30%;
     margin: 5px 0px;
}*/

.calibration-results table {
     width: 80%;
     border-collapse: collapse;
     text-align: center;
}

.calibration-results th, .calibration-results td {
     border: 1px solid #ddd;
     padding: 8px;
     text-align: center;
	 font-size: 16px; /* 將文字大小設置為 16px */
}

.calibration-results th {
     background-color: #f2f2f2;
}

.calibration-results tr:nth-child(even) {
     background-color: #f9f9f9;
}
