/* 全局樣式 */
body {
     /*font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f4f4f9;
     color: #333;*/
	font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
     /*width: 80%;
     margin: 20px auto;
     padding: 20px;
     background: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 8px;*/
     
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.h1 {
    text-align: center;
    color: #444;
}

.h3 {
	width: 30%;
	text-align: left;
	/*margin: 20px 40px 10px 40px;  /* 上 右 下 左 */
	border: 1px solid #868687;
}

.title-div{
	width: 90%;
	display: flex; /* 裡面每一個div可以上下左右排列 */
	margin: 20px 40px 5px 40px;  /* 上 右 下 左 */
}

.date-span {
	width: 100%;
	text-align: left;
	/*border: 1px solid #868687;*/
}

.temp-span{
	width: 100%;
	text-align: right;
	/*border: 1px solid #868687;*/
}

.instrument-info, .calibration-results {
     margin-bottom: 20px;
    
 }
 
.instrument-info {
    display: flex;
    
    max-width: 800px; /* 設定最大寬度 */
    margin: 0 auto; /* 左右置中 
	font-size: 18px; /* 將文字大小設置為 16px */

}

.instrument-info-left {
	/*border: 1px solid #868687;*/
	float:left;
    width: 300px;
    margin: 10px 10px 10px 0px;  /* 上 右 下 左 */
}

.instrument-info-center {
	/*border: 1px solid #868687;*/
	float:left;
    width: 300px;
    margin: 10px 10px 10px 0px;  /* 上 右 下 左 */
    /*text-align: center; /* 將表頭置中 */
}

.instrument-info-right {
	/*border: 1px solid #868687;*/
	float:right;
    width: 300px;
    margin: 10px 10px 10px 0px;  /* 上 右 下 左 */
}

/*
.instrument-info p {
     flex: 1 1 30%;
     margin: 5px 0px;
}*/

.styled-table {
     width: 90%;
     border-collapse: collapse;
     /*text-align: center;*/
     margin: 0px 40px 10px 40px;  /* 上 右 下 左 */
}

.calibration-results th, .calibration-results td {
     border: 1px solid #ddd;
     padding: 8px;
     text-align: center;
	 font-size: 16px; /* 將文字大小設置為 16px */
}

.calibration-results th {
     background-color: #04AA6D;
}

.calibration-results tr:nth-child(even) {
     background-color: #f9f9f9;
}


.chart-container {
	border: 1px solid #ddd;
    width: 100%;
    text-align: center;
}

/* ===== 按鈕的容器 ===== */
.button-container{
	/*border: 1px solid #868687;*/
    margin-left: auto;  /* 自動對齊 */
    margin-right: auto; /* 自動對齊 */
	text-align: center; /* 將表頭置中 */
}

/* ===== 按鈕的樣式 ===== */
.submit-button {
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.back-button {
    padding: 8px 16px;
    background-color: #95a5a6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* ===== 滑鼠移到按鈕改變的樣式 ===== */
.submit-button:hover,
.back-button:hover {
    background-color: #2980b9;
    outline: none;
}

.submit-button:focus,
.back-button:focus,