.leftDiv{
	float:left;
	width: 12%;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 0px 0px; /* 上 右 下 左 */

}

.rightDiv{	
	/*border: 1px solid #868687;*/
	float:right;
	width: 80%;
	padding: 0px 0px 0px 0px;
	margin:10px 50px 0px 0px; /* 上 右 下 左 */
}

.createButtonDiv{
	text-align: right;
	margin:0px 0px 5px 0px; /* 上 右 下 左 */
}

.instrumentTableDiv{	
	/*border: 1px solid #868687;*/
	/*float:right;*/
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px auto;
}

.create-button{
	background-color:#B8860B;
	color: white;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	padding: 3px 5px;
	border-width:1px;
	border-color:#9cf #159 #159 #9cf;
	height:30px;
	width: 80px;

}

.edit-button{
	background-color:#008CBA;
	color:white;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding: 3px 5px;
	border-width:1px;
	border-color:#9cf #159 #159 #9cf;
	width: 50px;
}

.delete-button{
	background-color:#f44336;
	color:white;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding: 3px 5px;
	border-width:1px;
	border-color:#9cf #159 #159 #9cf;
	width: 50px;
}


/* ===== 顯示數據表格的css ====== */
.styled-table {	
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.styled-table th,
.styled-table td {
    padding: 10px 5px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #EEEEEE;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    
}

header, footer {
  white-space: nowrap;
}


/* ===== 選擇器用的的css ======*/
.textDiv {
	font-size:16px;
	font-weight: bold;
  	width: 100%;
  	overflow-y: auto;
}

.input-text { /* 文字輸入方塊 */
	font-family: 'Arial', sans-serif;
  	font-size: 16px;
  	margin: 0px 0px 5px 0px;
  	padding: 10px;
  	border: 2px solid #ccc;
  	border-radius: 8px;
  	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* 陰影效果 */

  	color: #333; /* 文本顏色  */
  	outline: none; /* 移除默認輪廓效果  */
  	border-color: #A9A9A9; /* 滑鼠懸停時的邊框顏色為前藍色 */
  	height: 10px;
  	width: 90%;
}

/* 當獲得焦點時的樣式 */
input[type="text"]:focus {
	border-color: #3498db; /* 當獲得焦點時的邊框顏色 */
	outline: none; /* 移除默認輪廓效果 */
}

.query-button{ 
	background-color:#228B22;
	color: white;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	padding: 3px 5px;
	border-width:1px;
	border-color:#9cf #159 #159 #9cf;
	height:30px;
	width: 60px;

}


/*  =====  下拉選單內的核選方塊  ===== */
.multipleSelectionDiv {
	width: 100%;
	background-color: #D3D3D3;
	border-radius: 8px;
}

.selectBoxDiv {
	position: relative;
	display: flex; /* 上下對齊 */
 	align-items: center; /* 上下對齊 */
 	
}

.selectBoxDiv select {
	width: 100%;
	font-size:16px;
	font-weight: bold;
	padding: 7px 40px 7px 7px;
	width: 100%;
	/*border: 1px solid #868687;*/
	border-radius: 8px; /* 圓角 8 像素 */
	
}


.overSelectDiv {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#monthCheckBoxesDiv{
	display: none; /*設定隱藏元件*/
}
#cycleCheckBoxesDiv{
	display: none; /*設定隱藏元件*/
}
#typeCheckBoxesDiv{
	display: none; /*設定隱藏元件*/
}
#localationCheckBoxesDiv{
	display: none; /*設定隱藏元件*/
}
#personCheckBoxesDiv{
	display: none; /*設定隱藏元件*/
}
#monthCheckBoxesDiv label:hover { /*滑鼠懸停後的事件*/
	background-color: #4F615E;
	color: white;
}
#cycleCheckBoxesDiv label:hover { /*滑鼠懸停後的事件*/
	background-color: #4F615E;
	color: white;
}
#typeCheckBoxesDiv label:hover { /*滑鼠懸停後的事件*/
	background-color: #4F615E;
	color: white;
}
#localationCheckBoxesDiv label:hover { /*滑鼠懸停後的事件*/
	background-color: #4F615E;
	color: white;
}
#personCheckBoxesDiv label:hover { /*滑鼠懸停後的事件*/
	background-color: #4F615E;
	color: white;
}