/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* 重置一些默認樣式 */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background: #333333; /* 使用灰黑深色系列的背景 */
	padding: 10px;
	color: #fff; /* 文字顏色改為白色 */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 添加陰影效果 */
	border-radius: 5px; /* 添加圓角效果 */
	display: flex; /* 使用 Flexbox 佈局 */
	justify-content: space-between; /* 將元素分散對齊，使標誌和導航在一行內 */
	align-items: center; /* 將元素垂直居中對齊 */
}

.logo h1 {
 	font-size: 30px;
}

/*
nav {
  margin-top: 60px;
}*/

nav ul {
	list-style: none;
	display: flex; /* 使用 Flexbox 佈局 */
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff; /* 文字顏色改為白色 */
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 3px; /* 添加圓角效果，使連結看起來更具互動性 */
	border: 2px solid transparent; /* 添加邊框並預設為透明 */
	transition: border-color 0.3s ease-in-out; /* 添加過渡效果 */
}

nav ul li a:hover {
	background-color: #ff8c00; /* 滑鼠懸停時的背景顏色為橘黃色 */
	border-color: #ff8c00; /* 滑鼠懸停時的邊框顏色為橘黃色 */
}

.right {
    margin-right: 0;
    margin-left: auto; /* 將最後一個 li 元素推到最右邊  */
}


/*--------------------------------------------------------------

--------------------------------------------------------------*/
/* 初始状态下隐藏下拉菜单 */
.dropdown-content {
    display: none;
}

/* 当鼠标悬停在包含下拉菜单的元素上时显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
	top: 45px;
	left: 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px; /* 添加圆角效果 */
}

/* 对话框箭头 */
.dropdown-content::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}

/* 垂直排列下拉菜单内容 */
.dropdown-content a {
    display: block;
    text-decoration: none;
    padding: 8px 10px;
    color: #333;
}

/* 移除下拉菜单选项的底线 */
.dropdown-content a:hover {
    text-decoration: none;
    background-color: #e0e0e0;
}

