<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>器具校驗結果</title>
	<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/calibrationResultStyle.css">
</head>
<body>
<div id="header"></div>

<div class="container">
        <h1>器具校驗結果</h1> 
    
		<div class="instrument-info">
			
			<div class="instrument-info-left">
				<label for="number">器具編號：</label><span id="number"></span><br>
		        <label for="number">器具名稱：</label><span id="name"></span><br>
				<label for="number">廠牌型式：</label><span id="type"></span><br>
				<label for="number">校驗特性：</label><span id="characteristic"></span><br>
			</div>
				
			<div class="instrument-info-center">
				<label for="number">校驗單位：</label><span id="unit"></span><br>
		        <label for="number">校驗週期：</label><span id="cycle"></span><br>
				<label for="number">校驗類型：</label><span id="calibrate_type"></span><br>
				<label for="number">校驗地點：</label><span id="calibrate_localation"></span><br>
			</div>
			
			<div class="instrument-info-right">
				<label for="number">校驗月份：</label><span id="calibrate_month"></span><br>
		        <label for="number">上次校驗日期：</label><span id="last_calibrate_date"></span><br>
				<label for="number">母儀編號：</label><span id="mother_instrument_number"></span><br>
				<label for="number">校驗人員：</label><span id="calibrate_person"></span><br>
			</div>

		</div>
       
        <div class="calibration-results" id="calibration-results"></div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
	    $("#header").load("/instrument/header.html");
	
	});
	
	//AJAX向後端發送請求及接收重後端來的資料(此ajax方法為取得所有會員資料)
	$.ajax({
	    type:"GET",//請求方式
	    url:"/calibration/calibrationResult",//url代表向後端發送請求 (後端需有標註@GetMapping("calibration/calibrationResult")的方法)
	    dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法，或回傳方法型態為ResponseEntity<?>)
	    async:true,//true為非同步
	    success:function (data) {//接收後端來的資料
	    	console.log(data);
	    	//updateData(data);	
	    	var number = data[0].instrumentInfo.number;
	    	var name = data[0].instrumentInfo.name;
	
	    	var specification = data[0].calibrationResult[0][0].specification
	    	
	    	console.log("specification: " + specification);
	    	
	    	document.getElementById("number").innerHTML = number;
	    	document.getElementById("name").innerHTML = name;
	    	
	    	var dateLen = data[0].calibrationResult.length;

	    	for(var i = 0; i < dateLen; i++){
	    		updateData(data, i); // i 為不同校驗日期批次
	    	}
	    	
	    },
	    error :function(errorMsg) {
	        alert("資料庫沒有內容。");
	    }
	});
	
	
	//自訂更新資料的函式, 可從後端接收來的數據, 渲染到html的table上
	function updateData(data, dateLen){
		
		/* data[0] -> 第一把器具
			data[0].calibrationResult[0] -> 第一把器具、第一次校驗日期
			data[0].calibrationResult[0][0] -> 第一把器具、第一次校驗日期、第一項規格
			data[0].calibrationResult[0][0].calibrate_date; -> 第一把器具、第一次校驗日期、第一項規格、取得校驗日期
		*/ 
		var speclen = data[0].calibrationResult[0].length; 
		var calibrate_date = data[0].calibrationResult[dateLen][0].calibrate_date; 
		const resultsContainer = document.getElementById("calibration-results"); // 父容器
		
		var innerTable = "";
		innerTable += "<h3>" + calibrate_date + " 校驗</h3>";
		innerTable += "<div style='text-align: center;'>";
		
		innerTable += "<table border='1' class='styled-table' style='margin-left: auto; margin-right: auto;'>";
		innerTable += "<thead>";
		innerTable += "<tr><td>校驗規格</td><td>規格上限</td><td>規格下限</td><td>測量值</td><td>溫度 (°C)</td><td>濕度 (%)</td><td>結果</td>";
		innerTable += "</thead>";
		innerTable += "<tbody>";
		
		for (var i = 0; i < speclen; i++) {
			innerTable += "<tr class='active-row'>";
			innerTable += "<td>" + data[0].calibrationResult[dateLen][i].specification + "</td>";
			innerTable += "<td>" + data[0].calibrationResult[dateLen][i].usl + "</td>";
			innerTable += "<td>" + data[0].calibrationResult[dateLen][i].lsl + "</td>";
			innerTable += "<td>" + data[0].calibrationResult[dateLen][i].value + "</td>";
			innerTable += "<td>" + data[0].calibrationResult[dateLen][i].temperature + "</td>";
			innerTable += "<td>" + data[0].calibrationResult[dateLen][i].humidity + "</td>";
			innerTable += "<td>" + data[0].calibrationResult[dateLen][i].result  + "</td>";
		}
		innerTable += "</tr>";
		innerTable += "</tbody>";
		innerTable += "</table>";
		innerTable += "</div>";
		
		const div = document.createElement("div");
		div.className = "calibrationTableDiv";
        div.id = "calibrationTableDiv" + dateLen;
        div.innerHTML = innerTable; // 將數據插入到div中
        resultsContainer.appendChild(div); // 將div插入到父容器中
		
	}

</script>

</body>
</html>