<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>器具校驗結果</title>
	<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/calibrationResultStyle.css">
</head>
<body>
<div id="header"></div>



<div class="container">
	<h1 class="h1">器具校驗結果</h1> 
   
	<div class="instrument-info">
		
		<div class="instrument-info-left">
			<label for="number">器具編號：</label><span id="number"></span><br>
	        <label for="name">器具名稱：</label><span id="name"></span><br>
			<label for="type">廠牌型式：</label><span id="type"></span><br>
			<label for="characteristic">校驗特性：</label><span id="characteristic"></span><br>
		</div>
			
		<div class="instrument-info-center">
			<label for="unit">校驗單位：</label><span id="unit"></span><br>
	        <label for="cycle">校驗週期：</label><span id="cycle"></span><br>
			<label for="calibrate_type">校驗類型：</label><span id="calibrate_type"></span><br>
			<label for="calibrate_localation">校驗地點：</label><span id="calibrate_localation"></span><br>
		</div>
		
		<div class="instrument-info-right">
			<label for="calibrate_month">校驗月份：</label><span id="calibrate_month"></span><br>
	        <label for="last_calibrate_date">上次校驗日期：</label><span id="last_calibrate_date"></span><br>
			<label for="mother_instrument_number">母儀編號：</label><span id="mother_instrument_number"></span><br>
			<label for="calibrate_person">校驗人員：</label><span id="calibrate_person"></span><br>
		</div>

	</div>
      
    <div class="calibration-results" id="calibration-results"></div>
        
	<div class="chart-container" id="chart-container">
		<!--  <h3 style="width:500px; text-align:center;">25mm</h3>
		<div id="linechart" style="height:250px; width:100%; max-width:500px; "></div>-->	
	</div>
        
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
	    $("#header").load("/instrument/header.html");
	
	});
	
	var urlParams = new URLSearchParams(window.location.search); // 獲取當前頁面的URL中的查詢參數
	var id = urlParams.get("id"); // 獲取ID參數的值
	console.log("get instrument 'id: " + id);
	
	google.charts.load('current', {packages: ['corechart', 'line']}); // 加载 Google Charts 庫
	google.charts.setOnLoadCallback(function() {
		//AJAX向後端發送請求及接收重後端來的資料(此ajax方法為取得所有會員資料)
		$.ajax({
		    type:"GET",//請求方式
		    url:"/calibration/calibrationResult/" + id,//url代表向後端發送請求 (後端需有標註@GetMapping("calibration/calibrationResult")的方法)
		    dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法，或回傳方法型態為ResponseEntity<?>)
		    async:true,//true為非同步
		    success:function (data) {//接收後端來的資料
		    	console.log(data);
		    	
		    	updateInfo(data);
		 	
		    	var dateLen = data.calibrationResult.length;
		    	var specLen = data.calibrationResult[0].length;
				console.log("dateLen: " + dateLen);
				console.log("specLen: " + specLen);
				
		    	for(var i = 0; i < dateLen; i++){
		    		updateData(data, i); // i 為不同校驗日期批次
		    		
		    	}	
		    	
		    	for(var i = 0; i < specLen; i++){
		    		updateChart(data, dateLen, i); // i 為不同規格
		    	}
		    	
		    },
		    error :function(errorMsg) {
		        alert("資料庫沒有內容。");
		    }
		});
	});
	
	/*google.charts.load('current', {packages: ['corechart', 'line']}); // 加载 Google Charts 庫
	google.charts.setOnLoadCallback(function() {
		// 使用 jQuery.ajax 异步获取数据
		$.ajax({
			type:"GET",//請求方式
		    url:"/calibration/calibrationResult",//url代表向後端發送請求 (後端需有標註@GetMapping("calibration/calibrationResult")的方法)
		    dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法，或回傳方法型態為ResponseEntity<?>)
		    async:true,//true為非同步
		    success:function (data) {//接收後端來的資料
    	  		updateChart(data)
    	  	},
    	  	error: function(xhr, status, error) {
    		}
    	});	
	});*/
	
	//自訂更新資料的函式, 可從後端接收來的數據, 渲染到html的span上
	function updateInfo(data){
	
    	document.getElementById("number").innerHTML = data.instrumentInfo.number;
    	document.getElementById("name").innerHTML = data.instrumentInfo.name;
    	document.getElementById("type").innerHTML = data.instrumentInfo.type;
    	document.getElementById("characteristic").innerHTML = data.instrumentInfo.characteristic;
    	document.getElementById("unit").innerHTML = data.instrumentInfo.unit;
    	document.getElementById("cycle").innerHTML = data.instrumentInfo.cycle;
    	document.getElementById("calibrate_type").innerHTML = data.instrumentInfo.calibrate_type;
    	document.getElementById("calibrate_localation").innerHTML = data.instrumentInfo.calibrate_localation;
    	document.getElementById("calibrate_month").innerHTML = data.instrumentInfo.calibrate_month;
    	document.getElementById("last_calibrate_date").innerHTML = data.instrumentInfo.last_calibrate_date; 
    	document.getElementById("mother_instrument_number").innerHTML = data.instrumentInfo.mother_instrument_number;
    	
    	var id = data.instrumentInfo.id; // 取得該儀器的id
    	
    	//AJAX向後端發送請求及接收重後端來的資料(此ajax方法為取得該儀器的校驗人員)
    	$.ajax({ 
    	    type:"GET", //請求方式
    	    url:"/crud/instrumentInfo/" + id, //url代表向後端發送請求 (後端需有標註@GetMapping("/instrument{id}")的方法)
    	    dataType:"json", //接收資料格式 (後端需有標註@ResponseBody的方法)
    	    async:true, //true為非同步
    	    success:function (instrumentInfo) { //接收後端來的資料
    	    	
    	    	const personList = instrumentInfo.persons;	    
    	    	
	    	    for (let i = 0; i < personList.length; i++) {
	
    	    		if (personList[i].identity === "校驗人員"){  	    			
    	    			//console.log("校驗人員: " + personList[i].username);
    	    			document.getElementById("calibrate_person").innerHTML = personList[i].username	
    	    			break;
    	    		}
	    	    }
	    	},
    		error :function(errorMsg) {
            	alert("請求後端資料失敗！(personId)");
        	}
    	});
    	
	}
	
	//自訂更新資料的函式, 可從後端接收來的數據, 渲染到html的table上
	function updateData(data, dateLen){
		
		// data[0].calibrationResult[0][0].calibrate_date; -> 第一把器具、第一次校驗日期、第一項規格、取得校驗日期
	
		var speclen = data.calibrationResult[dateLen].length; 
		var calibrate_date = data.calibrationResult[dateLen][0].calibrate_date;

		const resultsContainer = document.getElementById("calibration-results"); // 父容器
		
		var innerTable = "";
		
		innerTable += "<div style='text-align: center;'>";
		innerTable += "<h3 class='h3'>" + calibrate_date + " 校驗</h3>";
		innerTable += "<table border='1' class='styled-table'>";
		innerTable += "<thead>";
		innerTable += "<tr><td>校驗規格</td><td>規格上限</td><td>規格下限</td><td>測量值</td><td>溫度 (°C)</td><td>濕度 (%)</td><td>結果</td>";
		innerTable += "</thead>";
		innerTable += "<tbody>";
		
		for (var i = 0; i < speclen; i++) {
			innerTable += "<tr class='active-row'>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].specification + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].usl + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].lsl + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].value + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].temperature + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].humidity + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].result  + "</td>";
		}
		innerTable += "</tr>";
		innerTable += "</tbody>";
		innerTable += "</table>";
		innerTable += "</div>";
		
		const div = document.createElement("div");
		div.className = "calibrationTableDiv";
        div.id = "calibrationTableDiv" + dateLen;
        div.innerHTML = innerTable; // 將數據插入到div中
        resultsContainer.appendChild(div); // 將div插入到父容器中
        
		
	}
	
	// ========== lint chart ==========
   	function updateChart(data, dateLen, specLen){

        var dataArray = [ ["x_axix", "value", "usl", "lsl"] ]; // 建立數據表存放變數
        var x_axix = "";
        var value = "";
        var usl = "";
        var lsl = "";
        var spec = "";
        var min = 0;
        var xbaseline = "";
		      
        try{
   
            for(var i = 0; i < dateLen; i++){
            	
            	spec = data.calibrationResult[i][specLen].specification;
            	x_axix = data.calibrationResult[i][specLen].calibrate_date;
            	value = data.calibrationResult[i][specLen].value - data.calibrationResult[i][specLen].specification;
            	usl = data.calibrationResult[i][specLen].usl - data.calibrationResult[i][specLen].specification;
            	lsl = data.calibrationResult[i][specLen].lsl - data.calibrationResult[i][specLen].specification;
            	
            	// 判斷每筆資料並取得最小值
            	if ( value < min) {
            		min = value;
            	}
            	
            	console.log(value);     	
 
    	   		dataArray.push([x_axix, value, usl, lsl]); 
            }	   		
        	
        }catch(error){
        	console.log("沒有校驗數值");
        }
		
        // 建立基礎線規則
        if (min < lsl){
        	xbaseline = min + (lsl / 2);
        } else {
        	xbaseline = lsl + (lsl / 2);
        }
	  	//xbaseline = -(Math.abs(value) + Math.abs(lsl));
	  	console.log("xbaseline:" + xbaseline);
	  	
	  	var data = google.visualization.arrayToDataTable(dataArray);
	  	

        // 創建折線圖對象
        var options = {
        	
            curveType: "none", // 折線平滑曲線
            legend: "none", // 取消圖例
                
			titleTextStyle: {
            	fontSize: 14, // 設置標題字體大小
            	bold: true, // 設置標題為粗體
            	italic: false // 設置標題為斜體
            },
 
            hAxis: { // 設置 x 軸
            	title: "date",
           
                titleTextStyle: {
	                fontSize: 16, // 設置 x 軸標題字體大小
	                bold: true, // 設置 x 軸標題為粗體
	                italic: false, // 設置 x 軸標體為斜體
                },
                textStyle: {
                    fontSize: 14, // 設定 x 軸刻度字體大小
                },
            	gridlines: {
            		color: 'transparent' // 取消 x 軸網格
            	},
            	baseline: 0,
            	format: '#', // 取消 x 軸小數點,
            	
            },
            
            vAxis: { // 設置 y 軸
            	title: "mm",
            	
                titleTextStyle: {
	                fontSize: 16, // 設置 y 軸標題字體大小
	                bold: true, // 設置 y 軸標題為粗體
	                italic: false, // 設置 y 軸標體為斜體
                },
                textStyle: {
                    fontSize: 14, // 設定 y 軸刻度字體大小
                },

				gridlines: {
                	color: 'transparent' // 取消 y 軸網格
                },
                baseline: xbaseline, // 設置基礎線條
                viewWindow: {
                    min: xbaseline,   // Y 軸最小值
                    //max: 2.0  // Y 軸最大值
                },
            },
            

            series: {
                0: {
                	pointShape: 'circle', // 設置樣本點為圓形
                  	pointSize: 8 // 設置樣本點的大小
                },
                1: { color: 'red' },
                2: { color: 'red' },
            },

            chartArea: {
                width: '75%', // 圖表區域的寬度
                height: '70%', // 圖表區域的高度
               	left: 60, // 左邊距 (越小越靠近左邊)
               	top: 20, // 上邊距
               	right: 20, // 右邊距
               	bottom: 50, // 下邊距
                   border: {
                   	top: true,
                   	right: true,
                   	bottom: true,
                   	left: true
                  }
            },
            
            tooltip: {
            	textStyle: {
                	fontSize: 14, // 设置提示框文字大小
                	bold: true    // 设置文字为粗体
             	},
            },
  
            //fontName: 'Arial', // 設置字體	
           	//focusTarget: 'category' 
        		
        };
        
		const chartContainer = document.getElementById("chart-container"); // 父容器
		

     	// 創建一個 H3 元素
        const h3Element = document.createElement("h3");
        // 設置 H3 元素的文本內容
        h3Element.textContent = spec + "mm";
        h3Element.style.width = "100%";
        h3Element.style.textAlign = "center";
        h3Element.style.marginTop = "50px"; // 設置上方間距為20像素

		const divElement = document.createElement("div");
		divElement.className = "linechartDiv";
        divElement.id = "linechartDiv" + specLen;
        divElement.style.height = "250px";
        divElement.style.width = "80%";
        divElement.style.textAlign = "center";
        divElement.style.margin = '0 auto'; // 水平置中
        

        chartContainer.appendChild(h3Element); // 將div插入到父容器中
        chartContainer.appendChild(divElement); // 將div插入到父容器中
        
        
        var chart = new google.visualization.LineChart(document.getElementById("linechartDiv" + specLen));
        chart.draw(data, options); // 渲染折線圖
        
   	}
	

</script>

</body>
</html>