<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>報告上傳</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/createInstrumentStyle.css">
</head>
<body>
<div id="header"></div>

<div class="form-container">	

	<form id="instrumentForm">
	
		<div style="text-align: center;"><h2 class="form-header">報告上傳</h2></div>
		
		<div class="form-container-view"> 
		
			<div class="form-container-left">
			
				<label for="number">&emsp;&emsp;器具編號：</label>
	           	<input type="text" class="input-instrument" id="number" name="number" disabled><br>
	
	           	<label for="name">&emsp;&emsp;器具名稱：</label>
	           	<input type="text" class="input-instrument" id="name" name="name" disabled><br>
	
	           	<label for="type">&emsp;&emsp;廠牌型式：</label>
	           	<input type="text" class="input-instrument" id="type" name="type" disabled><br>
	
	           	<label for="characteristic">&emsp;&emsp;校驗特性：</label>
	           	<input type="text" class="input-instrument" id="characteristic" name="characteristic" disabled><br>
	
	           	<label for="unit">&emsp;&emsp;校驗單位：</label>
	           	<input type="text" class="input-instrument" id="unit" name="unit" disabled><br>
	
	           	<label for="cycle">&emsp;&emsp;校驗週期：</label>
	           	<select class="select-instrument" name="cycle" id=cycle disabled>
	           		<option>6個月</option>
				    <option>12個月</option>
				    <option>24個月</option>
	           	</select><br>
	
	           	<label for="calibrate_type">&emsp;&emsp;校驗類型：</label>
	           	<select class="select-instrument" name="calibrate_type" id=calibrate_type disabled>
	           		<option>內校</option>
				    <option>外校</option>
				    <option>遊校</option>
	           	</select><br>
	
	           	<label for="calibrate_localation">&emsp;&emsp;校驗地點：</label>
	           	<input type="text" class="input-instrument"  id="calibrate_localation" name="calibrate_localation" disabled><br>
				
				<div class="multipleSelectionDiv">
	           		
	           		<span><label for="calibrate_month">&emsp;&emsp;校驗月份：</label></span>
	           		      
	           		<!--  <div class="selectBoxDiv" onclick="showCheckboxes('monthCheckBoxesDiv')">-->
	           		<div class="selectBoxDiv">
						<select class="select-instrument" name="calibrate_month" id=calibrate_month disabled>
							<option></option>
						</select>
						<div class="overSelectDiv"></div>
					</div>
			
					<div id="monthCheckBoxesDiv">
						&emsp;&emsp;<label><input type="checkbox" id="monthSelectAll" value="全選" onchange="toggleCheckboxes('month', 'monthSelectAll'); textCheckboxes();">全選</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="1" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); " checked>1</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="2" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">2</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="3" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">3</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="4" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">4</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="5" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">5</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="6" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">6</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="7" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">7</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="8" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">8</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="9" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">9</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="10" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">10</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="11" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">11</label><br>
						&emsp;&emsp;<label><input type="checkbox" name="month" value="12" onchange="checkSelectAll('month', 'monthSelectAll'); textCheckboxes(); ">12</label><br>
					</div>
					
	           	</div>

				<br><label for="last_calibrate_date">&emsp;&emsp;校驗日期：</label>
				<input type="date" class="datepicker" id="last_calibrate_date" name="last_calibrate_date" disabled><br>
	           
	           	<label for="mother_instrument_number">&emsp;&emsp;母儀編號：</label>
	           	<input type="text" class="input-instrument" id="mother_instrument_number" name="mother_instrument_number" disabled>	 <br>    		
			
			</div>
			
			<div class="form-container-center">
				
				&emsp;<label for="file">上傳檔案：</label>
				<input type="file" class="input-instrument" id="file" name="file" multiple required><br>

				&emsp;<label for="reportNo">報告編號：</label>
	           	<input type="text" class="input-instrument" id="reportNo" name="reportNo" required><br>
	           	
	           	<label for="taf">是否有TAF：</label>
	           	<select class="select-instrument" name="taf" id="taf" required>
	           		<option>有</option>
				    <option>無</option>
	           	</select><br>
	           	
	           	&emsp;<label for="last_calibrate_date">校驗日期：</label>
				<input type="date" class="datepicker" id="calibrate_date" name="calibrate_date" required><br>
				
				&emsp;<label for="result">校驗結果：</label>
	           	<select class="select-instrument" name="result" id="result" required>
	           		<option>合格</option>
				    <option>不合格</option>
	           	</select><br>

			</div>
			
			<div class="form-container-right">
			
				<label for="custos">保管人員：</label>
	           	<select class="select-instrument" name="custos" id=custos disabled></select><br>
	           	
	           	<label for="custosLeader">保管主管：</label>
	           	<select class="select-instrument" name="custosLeader" id=custosLeader disabled></select><br>
	
	           	<label for="checker">校驗人員：</label>
	           	<select class="select-instrument" name="checker" id=checker disabled></select><br>	
	           	
	           	<label for="checkerLeader">校驗主管：</label>
	           	<select class="select-instrument" name="checkerLeader" id=checkerLeader disabled></select><br>	

			</div>
		
		</div>
		
		<div class="button-container">
	    	<button type="submit" class="submit-button">上傳</button>
			<input type="button" class="back-button" onclick="location.href='./prep'" value="回上頁">
   		</div>
		
	</form>

</div>



<script type="text/javascript">

	$(document).ready(function(){
	
	    $("#header").load("/instrument/header.html");
	    
	    var identity = "";
		var userName = "";
	    
	 	// 向後端取得session的值
	 	$.ajax({
			type: "GET",
			url: "/calibration/login/sessionAttributes",
			dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法)
			contentType: "json",
		 	async:false,//false為同步(需先取得session的值，再執行後續邏輯業務)
			success: function(response) {
				identity = response.identity;
				userName = response.userName;
			},
			error: function(xhr, status, error) {
				    	//alert(xhr.responseText);
			}
		}); // ajax method end
	 	
		console.log("initialion identity: " + identity);
		console.log("initialion userName: " + userName);
		console.log("initialion checker: " + checker);
		
		if ( identity != "校驗人員"){
			alert("您沒有權限訪問此頁面，請重新登入。")
			window.location.href = "/calibration/person/login";
		}
		
	});
	
	$.ajax({
	    type:"GET",//請求方式
	    url:"/crud/instrumentNoRepeat",//url代表向後端發送請求 (後端需有標註@GetMapping("crud/instruments")的方法)
	    dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法)
	    async:false,//true為非同步
	    success:function (data) {//接收後端來的資料
	    	console.log(data);
	    	populateDropdown(data);
	    },
	    error :function(errorMsg) {
	        alert("請求後端資料失敗！(/crud/instruments)");
	    }
	});
	
	var urlParams = new URLSearchParams(window.location.search); // 獲取當前頁面的URL中的查詢參數
	var id = urlParams.get("id"); // 獲取ID參數的值
	console.log("get execute'id: " + id);
	
	$.ajax({
	    type:"GET",//請求方式
	    url:"/crud/instrumentInfo/" + id,//url代表向後端發送請求 (後端需有標註@GetMapping("/instrument{id}")的方法)
	    dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法)
	    async:false,//true為非同步
	    success:function (data) {//接收後端來的資料
	    	
			const instrumentList = data.instrument;
			const personList = data.persons;
	    	
	    	for (let i = 0; i < instrumentList.length; i++) {
	    		console.log(instrumentList[i]);
	    	}
	    	
	    	for (let i = 0; i < personList.length; i++) {
	    		
	    		if (personList[i].identity === "保管人員"){
	
	    			let selectElement = document.getElementById("custos");
	    			let username = personList[i].username;
	    		
	    			for (let i = 0; i < selectElement.options.length; i++) {
	    			    if (selectElement.options[i].value === username) {
	    			        selectElement.selectedIndex = i;
	    			        break; // 找到匹配值后立即退出循环
	    			    }	    			}
	    	        
	    		}
	    		else if (personList[i].identity === "保管主管"){
	    			
	    			let selectElement = document.getElementById("custosLeader");
	    			let username = personList[i].username;
	    		
	    			for (let i = 0; i < selectElement.options.length; i++) {
	    			    if (selectElement.options[i].value === username) {
	    			        selectElement.selectedIndex = i;
	    			        break; // 找到匹配值后立即退出循环
	    			    }
	    			}	    			
	    		}
	    		else if (personList[i].identity === "校驗人員"){
	    			
	    			let selectElement = document.getElementById("checker");
	    			let username = personList[i].username;
	    		
	    			for (let i = 0; i < selectElement.options.length; i++) {
	    			    if (selectElement.options[i].value === username) {
	    			    	checker = username; // 用於檢查登入者是否為校驗人員本人
	    		    		console.log("selelctedIndex checker: " + checker);
	    			    	selectElement.selectedIndex = i;
	    			        break; // 找到匹配值后立即退出循环
	    			    }
	    			}
	    		}
	    		else {
	    			
	    			let selectElement = document.getElementById("checkerLeader");
	    			let username = personList[i].username;
	    		
	    			for (let i = 0; i < selectElement.options.length; i++) {
	    			    if (selectElement.options[i].value === username) {
	    			        selectElement.selectedIndex = i;
	    			        break; // 找到匹配值后立即退出循环
	    			    }
	    			}	       
	    		}	
	    	}

	    	document.getElementById("number").value = instrumentList[0].number;
	    	document.getElementById("name").value = instrumentList[0].name;
	    	document.getElementById("type").value = instrumentList[0].type;
	    	document.getElementById("characteristic").value = instrumentList[0].characteristic;
	    	document.getElementById("unit").value = instrumentList[0].unit;
	    	document.getElementById("cycle").value = instrumentList[0].cycle +"個月";
	    	document.getElementById("calibrate_type").value = instrumentList[0].calibrate_type;
	    	document.getElementById("calibrate_localation").value = instrumentList[0].calibrate_localation;
	    	//document.getElementById("calibrate_month").value = instrumentList[0].calibrate_month + "月";
	    	document.getElementById("last_calibrate_date").value = instrumentList[0].last_calibrate_date;
	    	document.getElementById("mother_instrument_number").value = instrumentList[0].mother_instrument_number;
			
	    	editCheckboxes(instrumentList[0].calibrate_month); 
	    	
	    },
	    error :function(errorMsg) {
	        alert("請求後端資料失敗！(/crud/instrumentInfo/)");
	    }
	});
	
	var identity = "";
	
	// 向後端取得session的值
    function getSessionValue(){  
		
		$.ajax({
			type: "GET",
			url: "/calibration/login/sessionAttributes",
			dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法)
			contentType: "json",
		 	async:false,//false為同步(需先取得session的值，再執行後續邏輯業務)
			success: function(response) {
				identity = response.identity;
				userName = response.userName;
			},
			error: function(xhr, status, error) {
				    	//alert(xhr.responseText);
			}
		}); // ajax method end	
	 }
	
	// ========= 監聽點擊按鈕後，要處理的方法 ==========
	document.getElementById("instrumentForm").addEventListener("submit", function(event) {

    	getSessionValue(); 
    	
		if ( identity == "校驗人員") { 
    		
    		if ( userName == checker) { // 用於檢查登入者是否為校驗人員本人
	        
				event.preventDefault();// 如果需要阻止實際的表單提交，可以取消事件
		
				var reportNo = document.getElementById("reportNo").value.trim();
				var instrumentNumber = document.getElementById("number").value.trim();
				var instrumentName = document.getElementById("name").value.trim();
				var taf = document.getElementById("taf").value.trim();
				var calibrate_date = document.getElementById("calibrate_date").value;	
				var result = document.getElementById("result").value.trim();
				
				var inputElement = document.getElementById('file');
	            var files = inputElement.files;   
	            
				var calibrationData = {	
			    	"id": id,
			    	"report_no": reportNo,
			    	"report_name": files[0].name,
			    	"result": result,
			    	"calibrate_date": calibrate_date,
			    	"is_taf": taf
				};
				
		 		jsonString = JSON.stringify(calibrationData) // 轉成json格式
		 		console.log("jsonString: " + jsonString);
		 		 		
	            var formData = new FormData(); // 創建一個 FormData 物件来處理文件上傳
	            formData.append("jsonString", jsonString); // json資料存入FormData物件
	            
	            for (var i = 0; i < files.length; i++) {
	                formData.append("file", files[i]);
	            }    
	            
			    $.ajax({
				    type: "POST", // 後端的要有標註PutMapping的方法
				    url: "/calibration/upload",
				    async: false, 
				    processData: false,
	                contentType: false,
				    data: formData, // 後端接收資料格式 (後端接收參數需有標註@RequestBody)
				    success: function(response) { // 如果傳送成功或失敗，會接收後端傳來的訊息(訊息包含Exception)
				    	alert(respons); //  "檔案 " + file.getOriginalFilename() + " 上傳成功，已新增一筆校驗紀錄!";
				    },
				    error: function(xhr, status, error) {
				    	alert(xhr.responseText);
				    }
			  	});
		    
    		} else {
    			alert("您不是負責此器具的校驗人員。");

                setTimeout(function() {
                    window.location.href = "/calibration/instrument/prep"; 
                }, 0); // 立即跳轉
    		}

    	} else {
            alert("此功能需要校驗人員身分才可使用。");
            
            setTimeout(function() {
                window.location.href = "/calibration/instrument/prep"; 
            }, 0); // 立即跳轉
        }
  	});
	
	// 用於填充下拉選單的函數
	function populateDropdown(data) {
		
		// 添加至下拉選單的資料
		const custosList = data.custos;
		const custosLeaderList = data.custosLeader;
		const checkerList = data.checker;
		const checkerLeaderList = data.checkerLeader;
		
		// 選擇下拉選單元素
	  	const custosSelect = document.getElementById("custos");
	  	const custosLeaderSelect = document.getElementById("custosLeader");
	  	const checkerSelect = document.getElementById("checker");
	  	const checkerLeaderSelect = document.getElementById("checkerLeader");
	  	
	  	// 清空現有選項
	  	custosSelect.innerHTML = "";
	  	custosLeaderSelect.innerHTML = "";
	  	checkerSelect.innerHTML = "";
	  	checkerLeaderSelect.innerHTML = "";
	  	
	  	for (let i = 0; i < custosList.length; i++) {
	      	const custosOption = document.createElement("option"); // 創建新的選項元素
	      	custosOption.text = custosList[i]; 
	      	custosSelect.appendChild(custosOption); // 將選項添加至下拉選單
	  	}
	  	
	  	for (let i = 0; i < custosLeaderList.length; i++) {
	      	const custosLeaderOption = document.createElement("option"); // 創建新的選項元素
	      	custosLeaderOption.text = custosLeaderList[i]; 
	      	custosLeaderSelect.appendChild(custosLeaderOption); // 將選項添加至下拉選單
	  	}	
	  	
	  	for (let i = 0; i < checkerList.length; i++) {
	      	const checkerOption = document.createElement("option"); // 創建新的選項元素
	      	checkerOption.text = checkerList[i]; 
	      	checkerSelect.appendChild(checkerOption); // 將選項添加至下拉選單
	  	}
	  	
	  	for (let i = 0; i < checkerLeaderList.length; i++) {
	      	const checkerLeaderOption = document.createElement("option"); // 創建新的選項元素
	      	checkerLeaderOption.text = checkerLeaderList[i]; 
	      	checkerLeaderSelect.appendChild(checkerLeaderOption); // 將選項添加至下拉選單
	  	}
	}
  	
	// ========== 當下拉選單的月份checked時, 挑出放入下拉選單的文字內 ===========
	function textCheckboxes(){
     	// 選擇下拉選單元素
	  	const calibrate_month = document.getElementById("calibrate_month");

        // ========== 從month的檢核方塊取得元素, 如有前端有被checked, 則會將內容存到陣列裡 ==========
		var monthDiv = document.getElementById("monthCheckBoxesDiv");
		var monthChecks = monthDiv.querySelectorAll("input[type='checkbox']");
		var option = document.createElement("option");
		
		calibrate_month.innerHTML = ""; // 清空現有選項
		
        for (var i = 1; i < monthChecks.length; i++){ // 0為全選, 故重1開始
        	if (monthChecks[i].checked == true){
        		
        		//console.log(monthChecks[i].value);
        		option.text += monthChecks[i].value + ",";
        	}
        }
   	 	calibrate_month.appendChild(option); // 將選項添加至下拉選單
	}
	
	// ========== 當下拉選單的月份checked時, 挑出放入下拉選單的文字內 ===========
	function editCheckboxes(editChecks){ // monthChecks為後端傳來的月份，此月份是創建儀器時當初設定的日期
		// 選擇下拉選單元素
	  	const calibrate_month = document.getElementById("calibrate_month");
	  	calibrate_month.innerHTML = ""; // 清空現有選項
     	
        // ========== 從month的檢核方塊取得元素, 如有前端有被checked, 則會將內容存到陣列裡 ==========
		var monthDiv = document.getElementById("monthCheckBoxesDiv");
		var monthChecks = monthDiv.querySelectorAll("input[type='checkbox']");
		var option = document.createElement("option");

		option.text = editChecks;
	
   	 	calibrate_month.appendChild(option); // 將選項添加至下拉選單
	}
	
	document.getElementById("calibrate_date").value = formatDate(new Date()); // 產生當前日期，轉換對應的日期格式(xxxx-xx-xx)，傳入日期選擇器的元素
	
	// ========== 時間格式轉換 ==========
	function padTo2Digits(num) {
		// 目標字串被填充到指定長度後，所得的新字串
		// padStart(指定長度, '填充的值') ex: '3'.padStart(2, '0'); //03
		return num.toString().padStart(2, '0');
	}
	
	function formatDate(date) {
		return (
			[
				date.getFullYear(),
				padTo2Digits(date.getMonth() + 1), //傳回值是一個0到11的正整數, 所以要+1
				padTo2Digits(date.getDate()), 
				
			].join('-') //join()方法會將陣列或物件中所有的元素連接,並合併成一個新字串，回傳此新字串。 ['2022','06','02']->['2022-06-02']
		);
	}
	
	
	
</script>

</body>
</html>