<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>人員增刪改查</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/personStyle.css">
</head>
<body>
<div id="header"></div>

<div class="leftDiv">	
	
	<label for="username">姓名：</label>
    <select name="username" id=username onchange="submitUserName();"></select><br>

	<label for="department">部門：</label>
	<select name="department" id=department onchange="submitDepartment();"></select><br>

	<label for="identity">身份：</label>
    <select name="identity" id=identity onchange="submitIdentity();"></select><br>	
	
</div>

<div class="rightDiv">
	<div class="createButtonDiv"><a href="#" class="create-button" id="createLink">新增人員</a></div>
	<div class="personTableDiv" id="personTableDiv"></div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
	    $("#header").load("/instrument/header.html");	
	    ajaxMethod();
	});
	
	var identity = "";
	
	
	function ajaxMethod(){
		//AJAX向後端發送請求及接收重後端來的資料(此ajax方法為取得所有會員資料)
		$.ajax({
		    type:"GET",//請求方式
		    url:"/crud/persons",//url代表向後端發送請求 (後端需有標註@GetMapping("crud/instruments")的方法)
		    dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法)
		    async:true,//true為非同步
		    success:function (data) {//接收後端來的資料
		    	
		    	console.log(data);
		    	updateData(data);
		    	//populateDropdown(data);
		    },
		    error :function(errorMsg) {
		        alert("請求後端資料失敗！(/crud/persons)");
		    }
		});
		
		//AJAX向後端發送請求及接收重後端來的資料(此ajax方法為取得所有會員資料)
		$.ajax({
		    type:"GET",//請求方式
		    url:"/crud/personNoRepeat",//url代表向後端發送請求 (後端需有標註@GetMapping("crud/instruments")的方法)
		    dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法)
		    async:true,//true為非同步
		    success:function (data) {//接收後端來的資料
  	
		    	console.log(data);
		    	populateDropdown(data);
		    	//populateDropdown(data);
		    },
		    error :function(errorMsg) {
		        alert("請求後端資料失敗！(/crud/personNoRepeat)");
		    }
		});
		
	}

	// 自訂submitUserName()方法, 使用者依條件選取，並搭配ajax將表單內容傳送到後端
    function submitUserName() {
    	
		var username = document.getElementById("username").value;

		var jsonData = { username: username }; // 
		var jsonString = JSON.stringify(jsonData);
	
		//console.log(jsonString);
		submitAJAX(jsonString);
    }
	
 	// 自訂submitDepartment()方法, 使用者依條件選取，並搭配ajax將表單內容傳送到後端
	function submitDepartment() {
    	
		var department = document.getElementById("department").value;

		var jsonData = { department: department };
		var jsonString = JSON.stringify(jsonData);
	
		//console.log(jsonString);
		submitAJAX(jsonString);
    }
	
	// 自訂submitIdentity()方法, 使用者依條件選取，並搭配ajax將表單內容傳送到後端
	function submitIdentity() {
		
		var identity = document.getElementById("identity").value;

		var jsonData = { identity: identity };
		var jsonString = JSON.stringify(jsonData);
	
		//console.log(jsonString);
		submitAJAX(jsonString);
	}
	
	function submitAJAX(jsonString){
		$.ajax({
			type: "POST", //請求方式
			url: "/crud/searchPerson", //url代表向後端發送請求 (後端需有標註@GetMapping("/searchPerson")的方法)
			//contentType: "application/json;charset=UTF-8", // 後端如果要以List接收, 這行必須要開
			contentType: "application/json",
		  	dataType:"json", // 前端接收資料格式 (後端需有標註@ResponseBody)
		  	data: jsonString, // 指定資料傳到後端
		  	success: function(data) {
		  		//console.log(data);
		  		updateData(data); // 使用者選取完成，即更新表格內容
		  	},
		  	error: function(xhr, status, error) {
			}
		});	
	}
	
	
	// 向後端取得session的值
    function getSessionValue(){  
		 
		$.ajax({
			type: "GET",
			url: "/calibration/login/sessionAttributes",
			dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法)
			contentType: "json",
		 	async:false,//false為同步(需先取得session的值，再執行後續邏輯業務)
			success: function(response) {
				identity = response.identity;
			},
			error: function(xhr, status, error) {
				    	//alert(xhr.responseText);
			}
		}); // ajax method end	 
	 }
	
	// 點擊的連結需要根據條件決定是否跳轉或者顯示警告
    document.getElementById("createLink").addEventListener("click", function() {
    	
    	getSessionValue(); 
    	
    	if ( identity == "校驗人員") { 
            window.location.href = "/calibration/person/create";
        } else {
            alert("此功能需要校驗人員身分才可使用。");
        }
    });
	
	function redirectToEditPage(button) {
		
		getSessionValue(); 
    	console.log("identity: " + identity);
		
		if ( identity == "校驗人員") {
			var id = $(button).data("id");
			console.log(id);
			window.location.href = "edit?id=" +id;
		}
		else {
			alert("此功能需要校驗人員身分才可使用。")
		}
    };
    
    function deleteFun(button) {
    	
    	getSessionValue(); 
    	console.log("identity: " + identity);
    	
    	if ( identity == "校驗人員") {
 
    		var result = confirm("確認刪除該紀錄?");
    	    
    	    if (result == true) {
    	        var id = $(button).data("id");
    	        // console.log(id);

    	        $.ajax({
    	 	  		type: "DELETE", // 後端的要有標註DeleteMapping的方法
    	 	    	url: "/crud/person/" + id, 
    	 	    	async:false,//true為非同步
    	 	    	success: function(message) {  		
    	 	      		//window.location.reload(); // 刪除成功後會刷新葉面
    	 	      		alert(message);
    	 	      		ajaxMethod();	
    	 	    	},
    	 	    	error: function(xhr, status, error) {
    	 	    		alert("刪除失敗");
    	 	    	}
    	    	}); 
    	        
    	    } else {
    	        return false;
    	    }
    	} else {
			alert("此功能需要校驗人員身分才可使用。")
		}
    }
    
	//自訂更新資料的函式, 可從後端接收來的數據, 渲染到html的table上
	function updateData(data){
		
		var innerTable = "";
		innerTable += "<div style='text-align: center;'>";
		innerTable += "<table border='1' class='styled-table' style='margin-left: auto; margin-right: auto;'>";
		//table title
		innerTable += "<thead>";
		innerTable += "<tr><td>工號</td><td>姓名</td><td>信箱</td><td>部門</td><td>階級</td><td>身份</td><td>創建日期</td><td colspan='2'>操作</td>";
		innerTable += "</thead>";
		innerTable += "<tbody>";
		for (var i = 0; i < data.length; i++) {

			innerTable += "<tr class='active-row'>";
			innerTable += "<td>" + data[i].job_number + "</td>";
			innerTable += "<td>" + data[i].username + "</td>";
			innerTable += "<td>" + data[i].email + "</td>";
			innerTable += "<td>" + data[i].department + "</td>";
			innerTable += "<td>" + data[i].position + "</td>";
			innerTable += "<td>" + data[i].identity + "</td>";
			innerTable += "<td>" + data[i].create_date.replace("T", " ") + "</td>";
			
			innerTable += "<td>" + "<button class='edit-button' data-id=" + data[i].id + " onclick='redirectToEditPage(this)'>編輯</button>" + "</td>";
			innerTable += "<td>" + "<button class='delete-button' data-id=" + data[i].id + " onclick='deleteFun(this)'>刪除</button>" + "</td>";
		}
		innerTable += "</tr>";
		innerTable += "</tbody>";
		innerTable += "</table>";
		innerTable += "</div>";
		
		document.getElementById("personTableDiv").innerHTML = innerTable;
	}
	
	// 用於填充下拉選單的函數
	function populateDropdown(data) {
		
		// 添加至下拉選單的資料
		const usernameList = data.username;
		const departmentList = data.department;
		const identityList = data.identity;
		
		// 選擇下拉選單元素
	  	const usernameSelect = document.getElementById("username");
	  	const departmentSelect = document.getElementById("department");
	  	const identitySelect = document.getElementById("identity");
	  	
	  	// 清空現有選項
	  	usernameSelect.innerHTML = "";
	  	departmentSelect.innerHTML = "";
	  	identitySelect.innerHTML = "";
	  	
	  	for (let i = 0; i < usernameList.length; i++) {
	      	const usernameOption = document.createElement("option"); // 創建新的選項元素
	      	usernameOption.text = usernameList[i]; 
		    usernameSelect.appendChild(usernameOption); // 將選項添加至下拉選單
	  	}
	  	
	  	for (let i = 0; i < departmentList.length; i++) {
	      	const departmentOption = document.createElement("option"); // 創建新的選項元素
	      	departmentOption.text = departmentList[i]; 
	      	departmentSelect.appendChild(departmentOption); // 將選項添加至下拉選單
	  	}
	  	
	  	for (let i = 0; i < identityList.length; i++) {
	      	const identityOption = document.createElement("option"); // 創建新的選項元素
	      	identityOption.text = identityList[i]; 
	      	identitySelect.appendChild(identityOption); // 將選項添加至下拉選單
	  	}	  	
	}

</script>

</body>
</html>