<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>取得密碼</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/identityStyle.css">
</head>

<body>

<div id="header"></div>

<div style="padding:30px; width: 30%; margin: 0px auto">
	
	<form id="myForm">
		
		<label for="email">請輸入您的電子郵件:</label>
	    <input type="email" id="email" name="email">
	
	    <label for="captcha">請輸入驗證碼:</label>
	    <div class="flex-container">   
		    <input type="text" id="captcha" name="captcha">
		    <img src="/calibration/login/getIdentity" id="identity" class="captcha-image" onload="changeBtn.disabled=false">  
		    <button id="changeBtn" type="button" class="refresh-captcha" onclick="reloadImage()">更換圖片</button>
	    </div><br>
	    
		<button id="submitBtn" type="submit">確認</button>
	    <button id="backBtn" type="button" class="go-back" onclick="location.href='./login'">回上頁</button>
		
		<!-- <p>請輸入您的信箱:</p><br>
		<input type="text" name="email" id="email" placeholder="請輸入您的信箱" style="width: 40%"/><br>
		<img src="./getIdentity" id="identity" onload="btn.disabled=false">-->
		<!--  <button id="btn" type="submit" onclick="reloadImage()" style="width:100px;height:30px;">更換圖片</button><br><br>
		<button id="addBtn" type="submit" style="width:100px;height:30px;">確認</button>
		<input type='button' onclick="location.href='./login'" value="回上頁" style="width:100px;height:30px;">-->
	</form>
		

</div>

<script type="text/javascript">
	
	$(document).ready(function(){
	    $("#header").load("/instrument/header.html");	
	});
	
	document.getElementById("myForm").addEventListener("submit", function(event) {
		// 防止表單的預設提交行為
	    event.preventDefault();
		 
		// 取得表單更新後的內容
    	var rowData = { // key開頭不能為大寫, 否則後端接收會為null
			'email': document.getElementById("email").value,
			'captcha': document.getElementById("captcha").value,
		};
    	
		jsonString = JSON.stringify(rowData); //轉成json格式
		 
		// Send the table data to the server
		$.ajax({
		    type: "POST",
		    url: "/calibration/login/sendMail",
		    cache: false,
		    //contentType: 'application/json;charset=UTF-8', // 後端如果要以List接收, 這行必須要開
		    contentType: 'application/json',
		    dateType: 'json',
		    data: jsonString,
		    success: function(message) { // 如果傳送成功或失敗，會接收後端傳來的訊息(訊息包含Exception)
		    	//alert("Table data sent to server!");
		    	alert(message);
		    },
		    error: function(xhr, status, error) {
		    //error: function(message){
		    	//alert("Error sending table data to server!");
		    	alert(xhr.responseText);
		    	//alert(message);
		    }
	  	}); // ajax method end
  	
	}); // addEventListener method end
	
	function reloadImage(){
		document.getElementById("changeBtn").disabled = true;	
		document.getElementById("identity").src="/calibration/login/getIdentity?ts=" + new Date().getTime();	
	}
	
</script>

</body>