<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>儀校簽核</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/calibrationResultStyle.css">
</head>
<body>
<div id="header"></div>



<div class="container">
	<h1 class="h1">儀校簽核</h1> 
   
	<div class="instrument-info">
		
		<div class="instrument-info-left">
			<label for="number">器具編號：</label><span id="number"></span><br>
	        <label for="name">器具名稱：</label><span id="name"></span><br>
			<label for="type">廠牌型式：</label><span id="type"></span><br>
			<label for="characteristic">校驗特性：</label><span id="characteristic"></span><br>
		</div>
			
		<div class="instrument-info-center">
			<label for="unit">校驗單位：</label><span id="unit"></span><br>
	        <label for="cycle">校驗週期：</label><span id="cycle"></span><br>
			<label for="calibrate_type">校驗類型：</label><span id="calibrate_type"></span><br>
			<label for="calibrate_localation">校驗地點：</label><span id="calibrate_localation"></span><br>
		</div>
		
		<div class="instrument-info-right">
			<label for="calibrate_month">校驗月份：</label><span id="calibrate_month"></span><br>
	        <label for="last_calibrate_date">上次校驗日期：</label><span id="last_calibrate_date"></span><br>
			<label for="mother_instrument_number">母儀編號：</label><span id="mother_instrument_number"></span><br>
			<label for="calibrate_person">校驗人員：</label><span id="calibrate_person"></span><br>
		</div>

	</div>
      
    <div class="calibration-results" id="calibration-results"></div>
    
    <div class="button-container">
    	<button type="submit" class="submit-button">簽核</button>
		<input type="button" class="back-button" onclick="location.href='./prep'" value="回上頁">
   	</div>
        
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
	    $("#header").load("/instrument/header.html");
	    
		var identity = "";
	    
	 	// 向後端取得session的值
	 	$.ajax({
			type: "GET",
			url: "/calibration/login/sessionAttributes",
			dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法)
			contentType: "json",
		 	async:false,//false為同步(需先取得session的值，再執行後續邏輯業務)
			success: function(response) {
				identity = response.identity;
			},
			error: function(xhr, status, error) {
				    	//alert(xhr.responseText);
			}
		}); // ajax method end	 
		console.log("identity: " + identity);
		if ( identity != "校驗主管"){
			alert("您沒有權限訪問此頁面，請重新登入。")
			window.location.href = "/calibration/person/login";
		}
	
	});
	
	var urlParams = new URLSearchParams(window.location.search); // 獲取當前頁面的URL中的查詢參數
	var id = urlParams.get("id"); // 獲取ID參數的值
	console.log("get instrument 'id: " + id);
	
	$.ajax({
	    type:"GET",//請求方式
	    url:"/calibration/calibrationResult/" + id,//url代表向後端發送請求 (後端需有標註@GetMapping("calibration/calibrationResult")的方法)
	    dataType:"json",//接收資料格式 (後端需有標註@ResponseBody的方法，或回傳方法型態為ResponseEntity<?>)
	    async:true,//true為非同步
	    success:function (data) {//接收後端來的資料
	    	console.log(data);
	    	
	    	updateInfo(data); // 渲染器具校驗資訊
	 	
	    	var dateLen = data.calibrationResult.length; // 取得該器具校驗次數
	    	var specLen = data.calibrationResult[0].length; // 取得該器具校驗規格數量
			console.log("dateLen: " + dateLen);
			console.log("specLen: " + specLen);
			
	    	/*for(var i = 0; i < dateLen; i++){
	    		updateData(data, dateLen); // 渲染該器具校驗結果，i 為不同校驗日期批次  		
	    	}*/
	    	updateData(data, dateLen-1); // 渲染該器具校驗結果，i 為不同校驗日期批次 
	    	
	    },
	    error :function(errorMsg) {
	        alert("資料庫沒有內容。");
	    }
	});

	
	//自訂更新資料的函式, 可從後端接收來的數據, 渲染到html的span上
	function updateInfo(data){
	
    	document.getElementById("number").innerHTML = data.instrumentInfo.number;
    	document.getElementById("name").innerHTML = data.instrumentInfo.name;
    	document.getElementById("type").innerHTML = data.instrumentInfo.type;
    	document.getElementById("characteristic").innerHTML = data.instrumentInfo.characteristic;
    	document.getElementById("unit").innerHTML = data.instrumentInfo.unit;
    	document.getElementById("cycle").innerHTML = data.instrumentInfo.cycle;
    	document.getElementById("calibrate_type").innerHTML = data.instrumentInfo.calibrate_type;
    	document.getElementById("calibrate_localation").innerHTML = data.instrumentInfo.calibrate_localation;
    	document.getElementById("calibrate_month").innerHTML = data.instrumentInfo.calibrate_month;
    	document.getElementById("last_calibrate_date").innerHTML = data.instrumentInfo.last_calibrate_date; 
    	document.getElementById("mother_instrument_number").innerHTML = data.instrumentInfo.mother_instrument_number;
    	
    	var id = data.instrumentInfo.id; // 取得該儀器的id
    	
    	//AJAX向後端發送請求及接收重後端來的資料(此ajax方法為取得該儀器的校驗人員)
    	$.ajax({ 
    	    type:"GET", //請求方式
    	    url:"/crud/instrumentInfo/" + id, //url代表向後端發送請求 (後端需有標註@GetMapping("/instrument{id}")的方法)
    	    dataType:"json", //接收資料格式 (後端需有標註@ResponseBody的方法)
    	    async:true, //true為非同步
    	    success:function (instrumentInfo) { //接收後端來的資料
    	    	
    	    	const personList = instrumentInfo.persons;	    
    	    	
	    	    for (let i = 0; i < personList.length; i++) {
	
    	    		if (personList[i].identity === "校驗人員"){  	    			
    	    			//console.log("校驗人員: " + personList[i].username);
    	    			document.getElementById("calibrate_person").innerHTML = personList[i].username	
    	    			break;
    	    		}
	    	    }
	    	},
    		error :function(errorMsg) {
            	alert("請求後端資料失敗！(personId)");
        	}
    	});
    	
	}
	
	//自訂更新資料的函式, 可從後端接收來的數據, 渲染到html的table上
	function updateData(data, dateLen){
		
		// data[0].calibrationResult[0][0].calibrate_date; -> 第一把器具、第一次校驗日期、第一項規格、取得校驗日期
	
		var speclen = data.calibrationResult[dateLen].length; 
		var calibrate_date = data.calibrationResult[dateLen][0].calibrate_date;
		
		const resultsContainer = document.getElementById("calibration-results"); // 父容器
		
		var innerTable = "";
		
		//<td>溫度 (°C)</td><td>濕度 (%)</td>
		innerTable += "<div style='text-align: center;'>";
		//innerTable += "<div><span><h3 class='h3'>" + calibrate_date + " 校驗</h3></span><span><h3>溫度22.2,濕度58%</h3></span></div>";
		innerTable += "<div class='title-div'>";
		innerTable += "<span class='date-span'><h3>" +  calibrate_date + " 校驗</h3></span>";
		innerTable += "<span class='temp-span'>溫度" + data.calibrationResult[dateLen][0].temperature + " °C，";
		innerTable += "濕度" + data.calibrationResult[dateLen][0].humidity + "</span></div>";
		innerTable += "<table border='1' class='styled-table'>";
		innerTable += "<thead bgcolor='#7FFFD4'>";
		innerTable += "<tr><td>校驗規格</td><td>規格上限</td><td>規格下限</td><td>測量值</td><td>精度</td><td>誤差</td><td>校驗結果</td>";
		innerTable += "</thead>";
		innerTable += "<tbody>";
		
		for (var i = 0; i < speclen; i++) {
			
			var accuracy = data.calibrationResult[dateLen][i].specification - data.calibrationResult[dateLen][i].lsl;
			var error = data.calibrationResult[dateLen][i].value - data.calibrationResult[dateLen][i].specification;
					
			var decimal = getDecimalPlaces(data.calibrationResult[dateLen][i].usl); // 取得小數位數

			innerTable += "<tr class='active-row'>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].specification + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].usl + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].lsl + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].value + "</td>";
			innerTable += "<td>&plusmn;" + accuracy.toFixed(decimal) + "</td>";
			innerTable += "<td>" + error.toFixed(decimal) + "</td>";
			innerTable += "<td>" + data.calibrationResult[dateLen][i].result  + "</td>";
		}
		innerTable += "</tr>";
		innerTable += "</tbody>";
		innerTable += "</table>";
		innerTable += "</div>";
		
		const div = document.createElement("div");
		div.className = "calibrationTableDiv";
        div.id = "calibrationTableDiv" + dateLen;
        div.innerHTML = innerTable; // 將數據插入到div中
        resultsContainer.appendChild(div); // 將div插入到父容器中
        
		
	}
	
	// ========== 取得小數位數 ==========
	function getDecimalPlaces(num) { 
	    const numStr = num.toString();
	    const decimalIndex = numStr.indexOf('.');
	    if (decimalIndex === -1) {
	        return 0; // 沒有小數部分
	    }
	    return numStr.length - decimalIndex - 1;
	}
	
	

</script>

</body>
</html>